@font-face {
    font-family: 'Avenir Next Condensed';
    src: url('https://s3.amazonaws.com/learn-verified/Avenir+Next+Condensed.ttc');
  }
  
  * {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;


  }
  
  h1 {
    font-size: 12.25em;
    line-height: 1em;
    letter-spacing: .03em;
    margin-bottom: 2px;
  }
  
  h2 {
    font-size: 3.1em;
    line-height: 1em;
    letter-spacing: .03em;
    margin-bottom: 2px;
  }
  
  h3 {
    font-weight: normal;
    letter-spacing: .3em;
    margin-bottom: 18px;
    line-height: 1em;
  }
  
  h4 {
    font-weight: normal;
    font-size: .8em;
    letter-spacing: .4em;
    margin-bottom: 6px;
    line-height: 1em;
  }
  
  
  .wrapper {
    background-image: url("Images/Website-Banner-Cropped-1344x165.jpg");
    background-size: cover;
  }

  
  .mainClass {
    border: 1px solid black;
    -moz-box-shadow: 0 2px 3px black;
    -webkit-box-shadow: 0 2px 3px black;
    box-shadow: 0 2px 3px black;
    
  }
  
  #titleBox {
    width: 252px;
    height: 165px;
    background: rgba(247,211,27,1);
    margin-left: 100px;
    padding-top: 7px;

  }
 
 .navigationMenuClass a {
    margin-right: 100px;
    margin-left: 100px;
  }
 

